/* button */
.btndafault {
  position: relative;
  display: inline-block;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: 600;
  margin: 0px 5px;
}

.btndafault:active {
  transition-duration: 0.2s;
  box-shadow: none;
}

.btnstyle {
  background-color: #cc8c3f;
  color: #ffeee4;
}

.btnstyle:disabled {
  background-color: #ddd;
  color: #aaa;
}

@media screen and (max-width: 700px) {
  .btndafault {
    padding: 5px 10px;
  }

  .btnstyle {
    font-size: xx-small;
  }
}
