/* header navbar 부분 */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border-bottom: solid 2px #ddd;
  text-decoration-line: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#logolink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration-line: none;
  vertical-align: center;
  margin-left: 15vw;
}

#imglogo {
  width: 40px;
  display: inline-block;
  margin: auto;
}

.titlelogo {
  color: #de9d49;
  font-size: larger;
  font-weight: 700;
  margin: 5px 10px;
}

/* 반응형 메뉴 */
#navbar_menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap : 20px;
  margin: auto 0px;
  padding-right: 15vw;
}

.menu_style{
  margin: auto, 0px;
  padding: auto, 0px;
  color:#de9d49;
  font-size: small;
  
}

.menu_style > a{
  text-decoration: none;
  text-decoration-line: none;
  color:#de9d49;
}

#modeLabel {
  color: #de9d49;
  background-color: white;
  border: none;
  font-size: small;
}

#modeLabel:hover {
  cursor: pointer;
}

#modeCheck {
  display: none;
}
/* */

@media screen and (max-width: 780px) {
  #navbar{
    flex-direction: column;
    align-items: center;
  }
  
  #logolink {
    margin-left: 0;
  }

  #navbar_menu{
    flex-direction: column;
    margin-top: 10px;
    padding: 0px;
    gap: 5px;
  }
  
  .menu_style{
    font-size: x-small;
    
  }
  
  .menu_style > a{
    text-decoration: none;
    text-decoration-line: none;
    color:#de9d49;
  }
  
  #modeLabel {
    font-size: x-small;
  }
  
}


#language {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: small;
}

#langselect {
  margin: 5px 0px 5px 5px;
  background-color: #fdf4e8;
  border: solid 2px #777;
  border-radius: 3px;
  padding : 0px;
}

/* 메뉴 라벨 버튼 */
#menu {
  margin: auto 0px;
  padding-right: 15vw;
}

#menucheck {
  display: none;
}

#menu > img {
  padding-top: 5px;
  padding-right: 5px;
  width: 20px;
  /* https://codepen.io/sosuke/pen/Pjoqqp 에서 값 생성 */
  filter: invert(50%) sepia(10%) saturate(15%) hue-rotate(59deg) brightness(91%)
    contrast(84%);
}

/* 메뉴 창 */
#menuMain {
  position: absolute;
  z-index: 10;
  top: 60px;
  left: 100%;
  /* transform: translate(-100%); */
  width: 30vw;
  background-color: white;
  opacity: 0.8;

  border: solid 2px #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  transition: transform 0.5s;
  transform: translate(var(--click_slide));
}

#menuMain > ul {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

#menuMain > ul > li {
  padding: 10px 0px;
  margin: 5px;
  border-bottom: solid 2px #ccc;
}

#menuMain > ul > li:hover {
  background-color: #ccc;
}

#menuMain > ul > li > a {
  text-decoration: none;
  color: #9e6d32;
  font-weight: 600;
}

/* #menuMain > ul > li > label  */
/* #modeLabel {
  text-decoration: none;
  color: #9e6d32;
  font-weight: 600;
} */



@media screen and (max-width: 700px) {
  #logolink {
    margin-left: 10px;
  }

  #menu {
    padding-right: 10px;
  }

  #imglogo {
    width: 30px;
  }

  .titlelogo {
    font-size: x-small;
  }

  #langselect {
    font-size: xx-small;
  }

  #menu > img {
    width: 15px;
  }
  #menuMain > ul > li > a {
    font-size: x-small;
  }

  #menuMain > ul > li > label {
    font-size: x-small;
  }
}
