body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0;
}

/* navbar 부분 */
#navbar {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-content: center;
  /* width: 70%; */
  border-bottom: solid 2px #ddd;
  text-decoration-line: none;
}

#logolink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration-line: none;
  vertical-align: center;
}

#imglogo {
  width: 50px;
  display: inline-block;
  margin: 10px;
}

.titlelogo {
  color: #de9d49;
  font-size: larger;
  font-weight: 700;
  margin: 5px 10px;
}

#language {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#langselect {
  margin: 5px 10px;
  background-color: #fdf4e8;
  border: solid 2px #777;
  border-radius: 3px;
  padding: 5px 3px 3px 3px;
}

/* footer 요소 부분 */
#footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ddd;
  height: 100px;
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;
  border-top: solid 2px #eee;
}

#footer > div {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 15px;
  font-size: small;
  color: #777;
}

/* infosection 요소 부분*/
#infoSection {
  width: 70%;
  margin: auto;
}

#userInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border-top: solid 2px #ddd;
  /* margin: 10px; */
}
#startBtn,
#warnBtn {
  margin: 0px;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}

#answerBtn {
  margin: 0px;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}

#answerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

/**/
#mask {
  position: absolute;
  z-index: 9000;
  background-color: #333;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

#loadingImg > img {
  position: absolute;
  z-index: 9000;
  display: block;
  margin: 0px auto;
}
