/* 점수판, 단어판 부분 */

/* 점수판 부분*/
#answerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 10px 0px;
  transition: all 1s;
}

.bigScore {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  transition: all 1s;
}

.scoreValue {
  display: inline-block;
  font-size: 5em;
}

.gptScore {
  color: blue;
  font-weight: 900;
  background-color: rgb(206, 231, 241);
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 5vh 8vw;
}

.userScore {
  color: red;
  font-weight: 900;
  background-color: rgb(241, 206, 206);
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 5vh 8vw;
}

.versusText {
  font-size: 5em;
}

#index {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  min-width: 500px;
  border-top: solid 2px #eee;
}

.gptSide .userSide {
  display: inline-block;
}

.scoreboard {
  display: inline-flex;
  width: 130px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.scoretable {
  display: inline-block;
  text-align: center;
}
.score {
  display: inline-block;
  margin: 10px;
}

@media screen and (max-width: 700px) {
  #answerSection {
    margin: 3px, auto;
  }
  #index {
    font-size: x-small;
    width: 90%;
    min-width: 200px;
  }

  .scoreboard {
    width: 80px;
  }

  .bigScore {
    width: 90%;
  }

  .versusText {
    font-size: 3em;
  }
}

/* 단어 표시 부분 */
#wordboard {
  display: flex;
  flex-direction: row;
  min-width: 500px;
  width: 70%;
  height: 35px;
  background-color: #fdf4e8;
  border-top: solid 2px #eee;
  border-bottom: solid 2px #eee;
  overflow: hidden;

  transition: 0.5s ease-in-out;
}

#boardarea_gpt,
#boardarea_user {
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  align-items: center;
  flex-grow: 1;
}

#boardarea_blank {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  width: 130px;
}

#foldBtn {
  margin: 0;
  background-color: #fdf4e8;
  border: solid 5px #fdf4e8;
  color: #cc8c3f;
  font-size: large;
  font-weight: 700;

  transition: transform 200ms ease-out 0s;
  transform: rotate(var(--click_toggle));
}

#boardarea_gpt > :first-child,
#boardarea_user > :first-child {
  border-bottom: solid 1px #aaa;
  margin-bottom: 15px;
}

.answer {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 5px;
}

.message {
  display: inline-block;
  margin: 0px 0px 15px 0px;
  padding: 2em 0px;
  border: solid 2px #eee;
  border-radius: 5px;
  width: 70%;
  text-align: center;
}

#gptmsg {
  color: white;
  background-color: #cc8c3f;
}

#dictmsg {
  color: white;
  background-color: blueviolet;
}

.sideName {
  text-align: center;
  margin : 0px 0px 15px 0px;
  font-weight: 800;
  color: #cc8c3f;
}

@media screen and (max-width: 700px) {
  #wordboard {
    font-size: x-small;
    width: 90%;
    min-width: 200px;
    height: 35px;
  }

  #boardarea_blank {
    width: 80px;
  }

  .answer {
    font-size: x-small;
    width: 60px;
  }

  .message {
    width: 90%;
    font-size: xx-small;
  }
}
