#screenSection {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  min-width: 500px;
  width: 70%;
  margin: 10px auto;
  border-top: solid 2px #aaa;
}

#screen {
  position: relative;
  min-height: 150px;
  max-height: 300px;
  overflow: hidden;
}

.container {
  width: 300vw; /*view port width*/
  transition: transform 0.5s;
}

.inner {
  width: 100vw;
  float: left;
  position: relative;
  background-color: #555;
}

.inner img {
  width: 90%;
  /* height: 300px; */
  opacity: 0.3;
}

@media screen and (max-width: 700px) {
  #screenSection {
    width: 90%;
    min-width: 200px;
    margin: 0px, auto;
  }

  #screen {
    margin: 0px;
  }

  .inner img {
    width: 90%;
    /* height: 150px; */
    opacity: 0.4;
  }
}

.screentitle {
  position: absolute;
  top: 50px;
  padding-left: 10%;
  padding-right: 20vw;
  z-index: 10;
  margin: 0px;
  color: #fff;
  font-size: x-large;
  font-weight: 600;
}

.screentext {
  position: absolute;
  top: 100px;
  z-index: 10;
  padding-left: 10%;
  padding-right: 20%;
  color: #fff;
  font-size: smaller;
}

.screentext p {
  margin: 5px 0 0 0;
}

.left {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translate(0, -100%);
  color: #aaa;
  font-weight: 700;
  font-size: xx-large;
  margin: 10px 0px;
  padding: 5px 5px;
  border: none;
  background-color: transparent;
}

.right {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -100%);
  color: #aaa;
  font-weight: 700;
  font-size: xx-large;
  margin: 10px 0px;
  padding: 5px 5px;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 700px) {
  .screentitle {
    top: 40px;
    font-size: medium;
  }

  .screentext {
    top: 70px;
    font-size: x-small;
  }

  .screentext p {
    margin: 2px 0 0 0;
    font-size: xx-small;
  }

  .left,
  .right {
    font-size: larger;
  }
}

@media screen and (max-width: 400px) {
  .screentitle {
    top: 25px;
    font-size: small;
  }

  .screentext {
    top: 45px;
    font-size: xx-small;
  }
}

#btnRotate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin: 10px;
}

.btnDot {
  margin: 5px;
  width: 8px;
  height: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eee;
}

@media screen and (max-width: 600px) {
  #btnRotate {
    margin: 0;
  }
  .btnDot {
    width: 4px;
    height: 5px;
  }
}
